$backgroundcolor:#F9F9FA;
$Main_color:#4AA899;
$text_color:white;

body {
  background-color: #F9F9FA;
  position: relative;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sec_2{
  margin-left: 300px;
  margin-right: 50px;
}
